@import url(general.css);

footer{
	margin-top: 250px;
}

.title-form{
	font-weight: bold;
	font-size: larger;
}

#back-button{
	background-color: #34a092;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	padding: 10px;
}

#back-button:hover{
	background-color: #98a902;
}
